<section>
<div class="middle about-set">
	<div class="left-side">
		<img class="img" ng-src="../images/others/eti.jpg" alt="תעתועים">
	</div>	
	<div class="title-line">
		<h1>אודות אתי אלבוים</h1>
		<span class="ico-bar">
			<ul>
				<li><a href="https://www.facebook.com/eti.elboim" target="_blank"><img ng-src="../images/fac-ico.png" alt="פייסבוק"></a></li>
				<li><a href="http://he.wikipedia.org/wiki/%D7%90%D7%AA%D7%99_%D7%90%D7%9C%D7%91%D7%95%D7%99%D7%9D" target="_blank"><img ng-src="../images/wiki-ico.png" alt="ויקיפדיה"></a></li>
			</ul>
		</span>
	</div>
	<p>
		 אתי אלבוים היא סופרת ישראלית, עיתונאית, עורכת ומחזאית. גרה עם ששת ילדיה ובעלה שלומי ביישוב אלקנה.
		<br>
		למדה באוניברסיטת בר-אילן לתואר ראשון בגאוגרפיה ולימודי ארץ ישראל. בין השנים 83'-97' עסקה בהדרכת טיולים ובריכוז טיולים, במסגרת החברה להגנת הטבע, בתוכנית "מורשת צפת" ובתוכנית "ארץ מורשת" של החברה למתנ"סים.
		<br>
		החלה את דרכה בכתיבה בעריכת העיתון של היישוב. החל משנת 99' כתבה בעיתון "מקור ראשון". במשך שנתיים כתבה את הטור "דברי הימים" במוסף "דיוקן", וכן שני טורים במוסף "נשים": את הטור הסיפורי "נשים מקראיות" ואת הטור "אמא ותיקה" (בשם עט).
		<br>
		בין השנים 04'-11' ערכה יחד עם אורית זימר את מוסף הילדים השבועי של מקור ראשון "מקור לילדים".
		<br>
		את ספריה הראשונים "סחלבים בשער הגיא", "הארון של אהרון" ו-"התרנגול שהתבלבל" הוציאה בהוצאה עצמית ששמה "תכלת". ספרה הרביעי "אמא קסומה וקוסמי המצנפת הסגולה" יצא בהוצאת ידיעות ספרים.<br> 
		בנוסף, כתבה והפיקה מחזות רבים וביניהם "מפתח הלב", "המעיל המופלא", "הרפתקאות בארץ האבות", "אליהו זכור לטוב" ותכנים לנושאים השנתיים של החמ"ד (הרב עוזיאל והרב צבי יהודה).
		<br>
		ב-14' הוכתרה כאחת ממאה הנשים המשפיעות ביותר בציבור הדתי-לאומי על-ידי מוסף "נשים".
		<br>
		בזמנה הפנוי אתי מעבירה סדנאות לילדים ונוער "מפגש עם סופרת", המעודדות קריאה.
	</p>
	<div class="low-bar rtl">
		<ul>
			<li><a tooltip-html-unsafe="{{connect}}" tooltip-trigger="click" href="" ng-click="showConnect()">צור קשר</a></li>
			<li><a tooltip-html-unsafe="{{about}}" tooltip-trigger="click" href="" ng-click="showAbout()">על האתר</a></li>
			<li><a target="_blank" href="http://www.ybook.co.il/">ידיעות ספרים</a></li>
		</ul>
	</div>
</div>
</section>
