<section>
<div class="middle tatoim-set">
	<div class="left-side">
		<img class="img" ng-src="../images/tatoim/tatoim-img.jpg" alt="תעתועים">
		<p class="center">איור: Andrey Lazarev</p>
		<p ng-click="open('tatoim')" class="read-btn">לקריאת הפרק הראשון</p>
	</div>
	<div class="title-line">
		<h1>תעתועים</h1>
		<span class="ico-bar">
			<ul>
				<li><a href="https://www.facebook.com/pages/%D7%AA%D7%A2%D7%AA%D7%95%D7%A2%D7%99%D7%9D/436275453165770" target="_blank"><img ng-src="../images/fac-ico.png" alt="פייסבוק"></a></li>
				<li><a href="https://www.youtube.com/watch?v=5W-l4fWti34" target="_blank"><img ng-src="../images/you-ico.png" alt="YouTube"></a></li>
				<li><a href="http://www.ybook.co.il/illusions" target="_blank"><img ng-src="../images/yed-ico.png" alt="ידיעות ספרים"></a></li>
			</ul>
		</span>
	</div>
	<h2>ספר ראשון בטרילוגיה לנוער מאת הסופרת אתי אלבוים</h2>
	<p>
		אלאיה בת ה-16 היא משרתת בארמון המלוכה של מגילנדו, הממלכה הסודית ביותר בעולם, שהוקמה לפני  שנים רבות ביבשת אנטרקטיקה. ממלכת מגילנדו מכוסה בכיפה שקופה שמגנה על תושביה - קוסמים, יצורים ואנשים שנדחו מן העולם הרגיל והוגדרו כ"חריגים", רובם בעלי יכולות על-טבעיות.
		<br>
		לאחר שאביה של אלאיה נעלם במהלך מופע קסמים מול תושבי הממלכה היא נשאבת לתוך עולם של מזימות, גילויים מפתיעים מן העבר, בגידות ותעתועים.
		<br>אלאיה נאלצת לצאת למסע אל העולם החיצוני, מעבר לגבולות הממלכה שבה גדלה כל חייה, כשהיא מלווה בחבורה צבעונית הכוללת שני נסיכים, ענק ממוצא ויקינגי וסוחר הודי.
		<br>
		המפגש המוזר בין תושביה החריגים של הממלכה הסודית ובין העולם המודרני של שנות האלפיים שופך אור על תעלומות עתיקות, מעורר יריבויות ישנות ומצית אהבות חדשות.<br>
		זהו הספר הראשון בטרילוגיה "תעתועים" העוסקת בדברים שנסתרים מאיתנו אך מושכים בחוטי חיינו.
	</p>
</div>
</section>
