<section>
<div class="middle others-set">
	<div class="left-side">
		<img class="img" ng-src="../images/others/book1.jpg" alt="סחלבים בשער הגיא">
		<img class="img" ng-src="../images/others/book2.jpg" alt="הארון של אהרון">
	</div>
	<h2>סחלבים בשער הגיא</h2>
	<p>
		עיתונאי צעיר יוצא בעקבות סיפור של סבו, ועוקב אחר פרשייה שהתרחשה בזמן מלחמת השחרור.<br>
		הסב היה עורך דין אמריקאי, שנקלע במקרה לעבודה משותפת עם שליחי ארגון ההגנה. הוא סיע להם לרכוש מכונות תעשייתיות ואניות מעפילים, ועל אחת מאוניות אלו הפליג ארצה ופגש ברחל, ניצולת שואה.<br>
		ליאור יוצא לחפש תרמיל שהחביא סבו בזמן המלחמה, ובו רכוש ששדדו תושבי הכפר בית מחסיר ממלווי השיירות בדרך לירושלים.<br>
		לעזרתו של ליאור יוצאת בחורה דתייה, רות, מדריכה לשעבר בבית ספר שדה, שמכירה את אזור שער הגיא.<br>
		האם יצליחו רות וליאור לגשר על הפערים הגדולים הקיימים ביניהם? האם הצליחו ג'ף ורחל, עשרות שנים קודם לכן, לגשר על פערים לא פחות עמוקים?<br>
		זהו סיפור על תהומות ופערים ועל הגשרים שבני אדם צריכים לבנות מעליהם.
	</p>
	<br>
	<h2>הארון של אהרון</h2>
	<p>סיפור על הילד אהרן שלמד לשמור על סדר בארון. מסופר בחן, בהומור ובקצב. כובש את לבם של הילדים וההורים.<br>
	<br>
	מיועד לגילאים: 7-2.
	</p>
</div>
</section>
