<section>
<div class="middle magicmom-set">
	<div class="left-side" ng-class="{'show': showAnimate}">
		<div class="animate-image" ng-show="showImage(3)">
			<img class="img" ng-src="../images/magical-mom/book3.jpg" alt="אמא קסומה">
		</div>
		<div class="animate-image" ng-show="showImage(2)">
			<img class="img" ng-src="../images/magical-mom/book2.jpg" alt="אמא קסומה">
		</div>
		<div class="animate-image" ng-show="showImage(1)">
			<img class="img" ng-src="../images/magical-mom/book1.jpg" alt="אמא קסומה">
		</div>
		<p class="center">איור: אלית אבני-שרון</p>
		<p ng-click="open('magicmom')" class="read-btn">לקריאת הפרק הראשון</p>
	</div>
	<div class="title-line">
		<h1>אמא קסומה</h1>
		<span class="ico-bar">
			<ul>
				<li><a href="https://www.facebook.com/pages/%D7%90%D7%9E%D7%90-%D7%A7%D7%A1%D7%95%D7%9E%D7%94/210748822298703" target="_blank"><img ng-src="../images/fac-ico.png" alt="פייסבוק"></a></li>
				<li><a href="https://www.youtube.com/watch?v=aSlX2ZXnYsU" target="_blank"><img ng-src="../images/you-ico.png" alt="YouTube"></a></li>
				<li><a href="http://www.ybook.co.il/ProductResults.aspx?F11179=%D7%90%D7%9E%D7%90+%D7%A7%D7%A1%D7%95%D7%9E%D7%94&searchboxex=1&x=0&y=0" target="_blank"><img ng-src="../images/yed-ico.png" alt="ידיעות ספרים"></a></li>
			</ul>
		</span>
	</div>
	<h2>על הקסם שבחיינו ועל הקשר בין ילדים והורים</h2>
	<p>
	"אמא קסומה" היא סדרת ספרי פנטזיה מוצלחת במיוחד לילדים ונוער. הסדרה מספרת על אמא לשלושה ילדים שהופכת בדרך קסם להיות ילדה בת 12. היא חוזרת עם ילדיה לבית הספר, מתעמתת עם מוריהם ועם חבריהם, מגלה מחדש את עולמם של ילדיה, תוך שהם מגלים מחדש את אמם. היא נסחפת יחד עם ילדיה להרפתקה גדולה שתשנה את חייה ואת חיי משפחתה, תוך חשיפת פשעים ותעלומות המתרחשים בעולמות הקסומים ותוך הבנה כי הקסם הגדול ביותר בחיינו הוא הקשר שבין הורים וילדים.<br><br>
	ספרים בסדרת אמא קסומה: "אמא קסומה וקוסמי המצנפת הכחולה", "אמא קסומה וקוסמי יערות העד" ו-"אמא קסומה וקוסמי תיבת ההמצאות".
	</p>
</div>
</section>
