<section>
<div class="middle tanah-set">
	<div class="left-side">
		<img class="img" ng-src="../images/confused-rooster/book1.jpg" alt="התרנגול שהתבלבל">
	</div>
	<div class="title-line">
		<h1>התרנגול שהתבלבל</h1>
	</div>
	<p>
		﻿מה קורה כשפתאום מתבלבלים? קמים אחר הצהריים וחושבים שהגיע הבוקר? זה מה שקרה לתרנגול הונולול, שגר בקצה הלול. הוא קם מתנומת אחר הצהריים, עלה לראש הגג בקפיצות והחל להכריז בקול: "בוקר טוב!".<br>
		הדוגרת, האפרוח הקטן, התרנגול הכי מכובד בלול וגם כל חיות המשק מנסים לשכנע את התרנגול  שהוא מתבלבל, אבל הוא ממשיך להתעקש!! מה עושה התרנגול כאשר הוא מבין שטעה? ומה יעשה כדי לא לטעות בפעם הבאה?<br>
		<br>
		מיועד לגילאים: 7-2.
	</p>
</div>
</section>
