<!DOCTYPE html>
<html lang="he" ng-app="myApp" ng-controller="WidthController" ng-class="{'small':isSmall}">
	<head>
		<meta charset="UTF-8">
		<title>אתי אלבוים</title>
		<meta name="אתי אלבוים Eti Elboim" content="Eti Elboim books: Tatoim, Magical mom אתי אלבוים ספרים: תעתועים, אמא קסומה">
		<meta name="viewport" content="width=device-width">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
		<script src="scripts/angular/angular-animate.min.js"></script>
		<script src="scripts/angular/angular-route.min.js"></script>
		<script src="scripts/mouse/hamster.js"></script>
		<script src="scripts/mouse/angular-mousewheel.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers.js"></script>

		<link href='http://fonts.googleapis.com/earlyaccess/alefhebrew.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body ng-controller="MainController" class="bg" ng-class="{'tatoim':(isSelected(0) || isSelected(1)), 'magicmom': isSelected(2), 'tanah': isSelected(3), 'others': (isSelected(4) || isSelected(5))}" msd-wheel="wheel($event, $delta, $deltaX, $deltaY)" ng-keyup="setPartial(39-$event.keyCode)">
	    <!--[if lt IE 7]>
	      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
		<title-bar></title-bar>

		<span class="up-arrow" ng-show="tab > 1" ng-click="setPartial(1)">
			<span class="arrow">&#x27a4;</span>
		</span>
		<span class="down-arrow" ng-show="tab < 5" ng-click="setPartial(-1)">
			<span class="arrow">&#x27a4;</span>
		</span>

		<div class="main-cnt" ng-view ng-class="{'up': direction === 'up', 'down': direction === 'down'}"></div>
	</body>
</html>
